<div *ngIf="city$ | async as city else loading">
<mat-card>
  <mat-card-header>
    Temperature in next 24 hours
  </mat-card-header>
  <mat-card-content>  
    <table matSort>
      <tr>
        <th mat-sort-header="temp">Temperature</th>
        <th mat-sort-header="wind_speed">Wind speed</th>
      </tr>
      <tr *ngFor="let weather of city.hourly | slice:1:24">
        <td>{{weather.temp}} °C</td>
        <td>{{weather.wind_speed}} meter/sec</td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="goBack()">Go back</button>
  </mat-card-actions>
</mat-card>
</div>

<ng-template #loading>
    <mat-card>Loading...</mat-card>
</ng-template>