<mat-card>
  <a routerLink="/city/{{city.name}}">
  <mat-card-header>
    <mat-card-title>{{city.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Temperature: {{city.main.temp}} °C</p>
    <p>Wind strength: {{city.wind.speed}} meter/sec</p>
  </mat-card-content>
  </a>
</mat-card>
